# 🪐 Mission to Teegarden b

![License: {{ license }}](https://img.shields.io/badge/license-{{ license | replace("-", "--") | urlencode }}-blue)
[![v{{ crate_version }}](https://img.shields.io/badge/version-v{{ crate_version }}-orange)]({{ repository }}/releases/v{{ crate_version }})
[![GitHub tag (latest SemVer pre-release)](https://img.shields.io/github/v/tag/LuckyTurtleDev/{{ crate }}?label=latest&color=orange)]({{ repository }}/releases/latest)
[![Packaging status](https://repology.org/badge/tiny-repos/{{ crate }}.svg)](https://repology.org/project/{{ crate }}/versions)
[![Source Code Repository](https://img.shields.io/badge/Code-On%20GitHub-blue?logo=GitHub)]({{ repository }})
![Rust Version: {{rust_version}}](https://img.shields.io/badge/rustc-{{ rust_version | urlencode }}-orange.svg)

<img src="https://github.com/LuckyTurtleDev/mission2teegarden-b/assets/44570204/584254b2-55f9-4f3d-b590-fa06b86343ec" width=100%>

{{ readme }}

{%- if links != "" %}

{{ links |replace("https://crates.io/crates/mission2teegarden_b_map/", "https://docs.rs/mission2teegarden_b_map/") }}
{%- endif -%}
